<!-- set.ejs -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css" />
<%- include('partials/navbar', { page: '' }) %>

<div class="container mx-auto my-8">
    <div class="p-4 border rounded-lg">
        <h1 class="text-2xl font-semibold mb-4"><%= set.name %></h1>
        <p class="text-gray-600 mb-2">Below, you will find detailed information about the set:</p>
        <img src="<%= set.img_url %>" alt="<%= set.name %>" class="rounded-lg mb-4">
        <p class="text-gray-600 mb-2">Year: <%= set.year %></p>
        <p class="text-gray-600 mb-2">Theme: <%= set.Theme.name %></p>
        <p class="text-gray-600 mb-2">Parts: <%= set.num_parts %></p>
        
        <!-- Edit Set Button -->
        <a href="/lego/editSet/<%= set.set_num %>" class="px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600">Edit Set: <%= set.name %></a>
        
        <a href="#" onclick="history.back(); return false;" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 mt-4 inline-block">Back</a>
    </div>
</div>

<!-- Fetching and displaying quote -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        fetch('https://quotable.io/random')
            .then(response => response.json())
            .then(data => {
                const quoteElement = document.getElementById('quote');
                quoteElement.innerHTML = `"${data.content}" - ${data.author}`;
            })
            .catch(error => console.error('Error fetching quote:', error));
    });
</script>

<div class="container mx-auto my-8">
    <div class="p-4 border rounded-lg">
        <p id="quote" class="text-gray-600 mb-4"></p>
    </div>
</div>
